<span
  hlmBadge
  variant="outline"
  [class]="badgeConfig().class + ' ' + sizeClass()"
  [attr.aria-label]="'Status: ' + badgeConfig().label"
  [title]="badgeConfig().label"
>
  @if (size() === 'xs') {
    <ng-icon
      hlm
      size="xs"
      [name]="badgeConfig().iconName"
      [class]="badgeConfig().iconClass"
      aria-hidden="true"
    />
  } @else {
    <ng-icon
      hlm
      [size]="size() === 'sm' ? 'xs' : 'xs'"
      [name]="badgeConfig().iconName"
      [class]="badgeConfig().iconClass + ' shrink-0'"
      aria-hidden="true"
    />
    <span>{{ badgeConfig().label }}</span>
  }
</span>
